<div class="w-[90%] mx-auto py-20">
  {% form 'cart', cart %}
    {% if cart.empty? %}
      <p>Your shopping cart is empty.</p>
    {% else %}
      {% for item in cart.items -%}
        {% comment %} <img src="{{ item.image | image_url: width: 100}}" width="auto" height="auto"> {% endcomment %}
        <h2>{{ item.title }}</h2>
        <p>{{ item.final_line_price | money }}</p>
        <input name="updates[]" value="{{ item.quantity }}">
        <a href="{{ item.url_to_remove }}">remove</a>
      {%- endfor %}

      <p>Total: {{ cart.total_price | money }}</p>
      <button class="px-8 py-2 my-8 font-bold text-white uppercase bg-yellow-600" type="submit" name="update">
        update
      </button>
      <button class="px-8 py-2 my-8 font-bold text-white uppercase bg-purple-800" type="submit" name="checkout">
        checkout
      </button>
    {% endif %}
  {% endform %}
</div>
