<div class="w-[90%] mx-auto py-20">
  <div class="grid grid-cols-1 gap-10 lg:grid-cols-2">
    <!-- Main Image -->
    <div class="flex w-full gap-4">
      <!-- Thumbnail images container -->
      <div class="flex flex-col gap-4">
        {% for image in product.images %}
          <img
            src="{{ image | image_url }}"
            data-src="{{ image | image_url }}"
            class="object-cover w-16 h-16 cursor-pointer thumbnail-image"
            alt="Product Thumbnail"
            width="100px"
            height="100px"
          >
        {% endfor %}
      </div>

      <!-- Main product image -->
      <div class="w-full">
        <img
          id="main-product-image"
          src="{{ product.featured_image | image_url }}"
          data-src="{{ product.featured_image | image_url }}"

          class="object-cover w-full h-full border border-main/20 aspect-square"
          width="300px"
          height="300px"
          alt="Main Product Image"
        >
      </div>
    </div>

    <!-- Product Details -->
    <div class="flex flex-col w-full gap-6 ">
      <div class="flex flex-col gap-4">
        <h1 class="text-2xl font-bold">{{ product.title }}</h1>
        <div class="flex gap-2">
          <p class="text-xl line-through">{{ product.compare_at_price | money }}</p>
          <p class="text-xl">{{ product.price | money }}</p>
        </div>
      </div>

      <!-- Product Form -->
      {% form 'product', product %}
        <!-- Accesso al Metafield materiale -->

        <p>Materiale: {{ product.metafields.custom.materiale.value }}</p>

        <!-- Accesso al Metafield fascia di età -->

        <div class="product-quantity">
          <label for="quantity" class="block mb-2">Quantità</label>

          <div class="flex items-center gap-10">
            <!-- Decrement Button -->
            <button
              type="button"
              class="px-4 py-2 rounded bg-main/20"
              id="decrement-btn"
            >
              -
            </button>

            <!-- Display Quantity -->
            <span id="quantity-display" class="text-lg font-regular">1</span>

            <!-- Increment Button -->
            <button
              type="button"
              class="px-4 py-2 rounded bg-main/20"
              id="increment-btn"
            >
              +
            </button>
            <button
              class="py-4 px-6 rounded-[30px] transition duration-200 bg-main uppercase text-white w-full text-base"
              type="submit"
            >
              {{ 'basic.cart' | t }}
            </button>
          </div>

          <!-- Hidden Input to Submit Quantity -->
          <input type="hidden" name="quantity" id="quantity-input" value="1">
        </div>
      {% endform %}
    </div>
  </div>

  <script>
    const quantityDisplay = document.getElementById('quantity-display');
    const quantityInput = document.getElementById('quantity-input');
    const incrementBtn = document.getElementById('increment-btn');
    const decrementBtn = document.getElementById('decrement-btn');

    let quantity = 1;

    // Increment quantity
    incrementBtn.addEventListener('click', () => {
      quantity++;
      quantityDisplay.textContent = quantity;
      quantityInput.value = quantity;
    });

    // Decrement quantity, but don't go below 1
    decrementBtn.addEventListener('click', () => {
      if (quantity > 1) {
        quantity--;
        quantityDisplay.textContent = quantity;
        quantityInput.value = quantity;
      }
    });
  </script>
  <div class="grid w-full grid-cols-1 gap-10 py-20 lg:grid-cols-3">
    <div class="flex flex-col gap-2">
      <h2 class="text-xl font-bold text-main">Descrizione</h2>
      <p class="text-lg font-light">{{ product.description }}</p>
    </div>
    <div class="flex flex-col gap-2">
      <h2 class="text-xl font-bold text-main">Spedizioni</h2>
      <p class="text-lg font-light">{{ product.description }}</p>
    </div>
    <div class="flex flex-col gap-2">
      <div>
        <h2 class="text-xl font-bold text-main">Composizione</h2>
        <p class="text-lg font-light">{{ product.description }}</p>
      </div>
      <div>
        <h2 class="text-xl font-bold text-main">Tracciabilità</h2>
        <p class="text-lg font-light">{{ product.description }}</p>
      </div>
    </div>
  </div>
</div>
<div class="w-[90%] mx-auto">
  {% if product.collections.size > 0 %}
    <!-- Se il prodotto appartiene a una o più collezioni -->
    {% assign current_collection = product.collections.first %}

    <h3>Prodotti correlati</h3>
    <div class="grid grid-cols-4">
      {% for related_product in current_collection.products | limit: 5 %}
        {% if related_product.id != product.id %}
          <!-- Salta il prodotto corrente -->
          <div class="related-product">
            <a href="{{ related_product.url | within: current_collection }}">
              <img
                src="{{ related_product.featured_image | img_url: 'medium' }}"
                width="300px"
                height="300px"
                alt="{{ related_product.title }}"
              >
              <p>{{ related_product.title }}</p>
            </a>
            <p>{{ related_product.price | money }}</p>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  {% else %}
    <!-- Se il prodotto non è in una collezione -->
    <p>Nessun prodotto correlato disponibile.</p>
  {% endif %}
</div>

<style>
  .thumbnail-selected {
    border: 2px solid #3a3f4c86; /* Aggiunge un bordo blu. Modifica il colore secondo le tue preferenze */
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    // Seleziona tutte le immagini in miniatura
    const thumbnails = document.querySelectorAll('.thumbnail-image');
    const mainImage = document.getElementById('main-product-image');

    thumbnails.forEach((thumbnail) => {
      thumbnail.addEventListener('click', function () {
        // Aggiorna l'immagine principale
        const newSrc = this.getAttribute('data-src') + '?' + new Date().getTime();
        mainImage.src = newSrc;

        // Rimuovi la classe 'thumbnail-selected' da tutte le miniature
        thumbnails.forEach((thumb) => {
          thumb.classList.remove('thumbnail-selected');
        });

        // Aggiungi la classe 'thumbnail-selected' alla miniatura cliccata
        this.classList.add('thumbnail-selected');
      });
    });
  });
</script>
